mixin contact-card(data)
  .contact-card
    .contact-card__field
      strong Адрес:
      address= data.address

    .contact-card__field
      p= data.desc

    .contact-card__field
      strong Режим работы:
      span!= data.worktime

    .contact-card__field
      strong Телефон:
      .contact-card__field-row
        each phone in data.phones
          a(href=`tel:${phone.link}`)= phone.text

    .contact-card__field
      strong e-mail:
      a(href=`mailto:${data.mail}`)= data.mail

    .contact-card__field.contact-card__field--map
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A167933fbb8e8f2f9c4204963d0359fbcc0e012e00f76dd041a5d8da211457aa6&amp;source=constructor" width="800" height="500" frameborder="0"></iframe>

    if data.showLink
      a(href="contact-detail.html") Подробнее
