include ../../mixins/main-btn

-
  const serviceList = [
    {
      icon: {
        name: 'translate',
        width: '50',
        height: '50'
      },

      title: 'Переводы',
      desc: 'Осуществляем письменные и устные переводы со всех распространённых языков мира. К Вашим услугам дипломированные переводчики и носители языка. Мы удостоверяем письменные переводы подписью переводчика и печатью нашего бюро или нотариально, в зависимости от требований, которые предъявляет к переводу принимающая сторона.'
    },

    {
      icon: {
        name: 'stamp',
        width: '37',
        height: '50'
      },

      title: 'Нотариальные услуги',
      desc: 'Наши офисы находятся при нотариальных конторах. Вы можете оперативно получить в одном месте различные нотариальные услуги и сделать нотариальный перевод документов с любых языков.',
      contacts: [
        {
          office: 'Нотариус на Марксистской',
          phone: '8 (495) 532-59-55',
          url: '+74955325955'
        },
        {
          office: 'Нотариус на Китай-городе',
          phone: '8 (495) 623-62-84',
          url: '+74956236284'
        },
        {
          office: 'Нотариус на Таганской',
          phone: '8 (495) 223-26-57',
          url: '+74952232657'
        },
      ]
    },

    {
      icon: {
        name: 'envelope',
        width: '50',
        height: '50'
      },

      title: 'Апостиль и Консульская легализация',
      desc: 'Подготовим Ваши документы для использования на территории других государств путем проставления штампа Апостиль или полной консульской Легализации. Легализуем личные и коммерческие документы, также предоставляем услугу по проставлению отметки ТПП. Наше бюро имеет огромный опыт в легализации документов различной сложности. Ищете качественную услугу по доступной цене – доверьте работу по легализации специалистам бюро переводов «Импрешн».'
    },

    {
      icon: {
        name: 'list',
        width: '42',
        height: '50'
      },

      title: 'Получение справки об отсутствии судимости',
      desc: 'Одна из наших самых востребованных услуг – получение справки об отсутствии судимости. От Вас понадобится только доверенность и копия паспорта, остальное мы сделаем сами. При необходимости апостилируем или легализуем справку для страны назначения и вышлем готовый документ курьерской службой. Если Вы являетесь гражданином другого государства, но проживали на территории РФ и хотите получить справку об отсутствии судимости, мы также сможем Вам помочь.'
    },

    {
      icon: {
        name: 'notebook',
        width: '46',
        height: '50'
      },

      title: 'Подтверждение образовательных документов',
      desc: 'Если Вы решили учиться или работать за рубежом, мы поможем подтвердить Ваши образовательные документы. Бюро переводов «Импрешн» оказывает услугу по проставлению штампа Апостиль на оригинал образовательных документов или при необходимости осуществить их полную консульскую легализацию, а в случае с Италией и Испанией мы поможем Вам пройти особую процедуру подтверждения – <a href="#">«Dichiarazione di valore»</a> (для Италии) и <a href="#">«Homologacion de Titulo»</a> (для Испании). Для признания образовательных документов иностранных государств в РФ необходимо выполнить <a href="#">нострификацию</a> этих документов.'
    },

    {
      icon: {
        name: 'docs',
        width: '40',
        height: '50'
      },

      title: 'Истребование документов',
      desc: 'Если Ваш документ утерян или пришел в негодность, мы получим его дубликат, в том числе без личного присутствия в нашем офисе. Истребуем дубликаты документов из органов ЗАГС, образовательных документов и многих других, как в Москве, так и в любых городах России, Украины и Беларуссии. После получения истребованных документов компания «Импрешн» может предоставить услугу по их апостилированию и легализации, а также пересылку по указанному адресу.'
    },
  ]

section.service
  .container
    h2.lw-section-title Наши услуги

    ul.service__list
      each item in serviceList
        li.service__list-item
          svg(width= item.icon.width height= item.icon.height)
            use(xlink:href=`./assets/sprite.svg#icon-${item.icon.name}`)

          h3!= item.title

          p!= item.desc

          if item.contacts
            ul.service__list-item-info
              each contact in item.contacts
                li
                  a(href=`tel:${contact.url}`)= contact.office
                    span= contact.phone

          a(href="services.html") Подробнее

    +main-btn({
      type: 'button',
      title: 'Рассчитать стоимость',
      cls: 'service__btn'
    })
